<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="head">LearnerBits Blog Page</h1>
    <% for(post of posts){ %>
        <div class="post">
            <h4 class="heading">Blog</h4>
            <h3 class="user">@<%= post.username %> </h3>
            <h4 class="content"><%= post.content %></h4>
            <a class="harry" href="http://localhost:8080/posts/<%=post.id%>">See Post in Detail</a>
            <a class="harry1" href="http://localhost:8080/posts/<%=post.id%>/edit">Edit Post</a>
            <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                <button class="btn">Delete Post</button>
            </form>
            
        </div>
    <% } %>
    <br>
    <br>
    <a class="create" href="http://localhost:8080/posts/new">Create New Post</a>
</body>
</html>

